
Thanks for wanting to get in touch with me!

Email: kevin@kevinadrian.dev
This is the fastest way if you want to reach out to me, I usually respond promptly. You can also use the form below.

Twitter: https://twitter.com/kevinadrianpl
This is my primary means of sharing things to the world so please follow me there.

LinkedIn: https://www.linkedin.com/in/kevinadrianpl
My background is well covered there.


<div class="contact-form">
  <form class="form-style" method="POST" action="{{ .Site.Params.contactFormAction }}" data-toggle="validator">
    <ul>
      <li>
        <label for="username">{{ i18n "name" }}</label>
        <input class="field-style field-full" type="text" name="username" id="username" placeholder="{{ i18n "name" }}" required>
      </li>
      <li>
        <label for="email">{{ i18n "email" }}</label>
        <input class="field-style field-full" type="email" id="email" name="email" placeholder="{{i18n "email" }}" required>
      </li>
      <li>
        <label for="message">{{ i18n "message" }}</label>
        <textarea class="field-style" name="message" id="message" rows="6" placeholder="{{ i18n "message" }}"></textarea>
      </li>
      <li>
        <input class="field-style" type="submit" value="{{ i18n "send" }}" />
      </li>
      <li>
        <input type="text" name="_gotcha" style="display:none" />
      </li>
    </ul>
  </form>
</div>
